#content {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

#variable {
  display: flex;
  flex-direction: column;
  flex: 5;
}

#d1 {
  flex: 1;
}

#value {
  flex: 6;
}

@media (max-width: 768px) {
  #content {
    flex-direction: column;
  }

  #variable {
    display: flex;
    flex-direction: column;
    height: max-content;
    flex-grow: 0;
  }
  
  #d1 {
    order: 2;
    flex-grow: 0;
  }

  #value {
    flex-grow: 0;
  }
}