#pattern {
  margin-top: 1rem;
}

.pattern__form-control{
  display: flex;
  flex-direction: row;
}

.pattern__form-text-input {
  flex-grow: 7;
}

.pattern__form-button {
  justify-self: flex-end;
  flex-grow: 1;
}